# InsForge Database Configuration
# Leave VITE_INSFORGE_URL and VITE_INSFORGE_API_KEY empty OR set VITE_DISCONNECT_DATABASE=true
# to run the app in standalone offline mode completely disconnected from any remote database.
VITE_INSFORGE_PROJECT_NAME=accadfarms
VITE_INSFORGE_URL=
VITE_INSFORGE_API_KEY=
VITE_DISCONNECT_DATABASE=true
